In [1]:
#importamos librerias pertinentes
import pandas as pd
import numpy as np
import datetime
import calendar

In [3]:
DF_SBJ = pd.read_csv("C:/Users/PedroCahuana/Desktop/DF_CONTA/DF_SBJ.csv")
DF_SBJ.head() #evaluamos nuestro DF crudo

,FECHA,HORA,TEMPERATURA MEDIA (°C),HUMEDAD RELATIVA (%),PRECIPITACION (mm),VELOCIDAD_VIENTO (m/s),DIRECCIÓN_VIENTO (°)
0,10/26/2015 0:00,16:00:00,19.5,83.1,0.0,S/D,185
1,10/26/2015 0:00,17:00:00,19.2,84.0,0.0,S/D,174
2,10/26/2015 0:00,18:00:00,19.1,84.8,0.0,S/D,167
3,10/26/2015 0:00,19:00:00,18.7,87.4,0.0,S/D,168
4,10/26/2015 0:00,20:00:00,18.8,85.7,0.0,S/D,163

In [4]:
DF_SBJ.dtypes #observamos el tipo de objeto para cada col del DF

FECHA                     object
HORA                      object
TEMPERATURA MEDIA (°C)    object
HUMEDAD RELATIVA (%)      object
PRECIPITACION (mm)        object
VELOCIDAD_VIENTO (m/s)    object
DIRECCIÓN_VIENTO (°)      object
dtype: object

In [5]:
DF_SBJ.iloc[:,2:7] = DF_SBJ.iloc[:,2:7].replace("S/D", np.nan) #reemplazamos S/D por valores nulos numpy (NaN)
DF_SBJ.iloc[:,2:7]

,TEMPERATURA MEDIA (°C),HUMEDAD RELATIVA (%),PRECIPITACION (mm),VELOCIDAD_VIENTO (m/s),DIRECCIÓN_VIENTO (°)
0,19.5,83.1,0.0,NaN,185
1,19.2,84.0,0.0,NaN,174
2,19.1,84.8,0.0,NaN,167
3,18.7,87.4,0.0,NaN,168
4,18.8,85.7,0.0,NaN,163
...,...,...,...,...,...
19834,NaN,NaN,0.0,0.5,177
19835,NaN,NaN,0.0,0.9,260
19836,NaN,NaN,0.0,0.5,266
19837,NaN,NaN,0.0,0.6,258
19838,NaN,NaN,0.0,1.0,279

In [6]:
#cambiamos el tipo de objeto de los parámetros

DF_SBJ["TEMPERATURA MEDIA (°C)"] = DF_SBJ["TEMPERATURA MEDIA (°C)"].astype("float")
DF_SBJ["HUMEDAD RELATIVA (%)"] = DF_SBJ["HUMEDAD RELATIVA (%)"].astype("float")
DF_SBJ["PRECIPITACION (mm)"] = DF_SBJ["PRECIPITACION (mm)"].astype("float")
DF_SBJ["VELOCIDAD_VIENTO (m/s)"] = DF_SBJ["VELOCIDAD_VIENTO (m/s)"].astype("float")
DF_SBJ["DIRECCIÓN_VIENTO (°)"] = DF_SBJ["DIRECCIÓN_VIENTO (°)"].astype("float")

In [7]:
DF_SBJ.dtypes #observamos los nuevos tipos de objeto para cada col del DF

FECHA                      object
HORA                       object
TEMPERATURA MEDIA (°C)    float64
HUMEDAD RELATIVA (%)      float64
PRECIPITACION (mm)        float64
VELOCIDAD_VIENTO (m/s)    float64
DIRECCIÓN_VIENTO (°)      float64
dtype: object

In [8]:
DF_SBJ["FECHA"] = DF_SBJ["FECHA"].str.replace(" 0:00", "") #quitamos las horas 00:00 que aparecen en la columna fecha
DF_SBJ["FECHA"]

0        10/26/2015
1        10/26/2015
2        10/26/2015
3        10/26/2015
4        10/26/2015
            ...
19834    10/29/2019
19835    10/29/2019
19836    10/29/2019
19837    10/29/2019
19838    10/29/2019
Name: FECHA, Length: 19839, dtype: object

In [9]:
DF_SBJ["DATE"] = DF_SBJ["FECHA"].map(str) + " " + DF_SBJ["HORA"] #concatenamos las columnas fecha y hora en otra llamada "date"
DF_SBJ["DATE"]

0        10/26/2015 16:00:00
1        10/26/2015 17:00:00
2        10/26/2015 18:00:00
3        10/26/2015 19:00:00
4        10/26/2015 20:00:00
                ...
19834     10/29/2019 5:00:00
19835     10/29/2019 6:00:00
19836     10/29/2019 7:00:00
19837     10/29/2019 8:00:00
19838     10/29/2019 9:00:00
Name: DATE, Length: 19839, dtype: object

In [10]:
DF_SBJ["DATE"] = pd.to_datetime(DF_SBJ["DATE"], format="%m/%d/%Y %H:%M:%S") #convertimos a datetime la columna "DATE"
DF_SBJ["DATE"]

0       2015-10-26 16:00:00
1       2015-10-26 17:00:00
2       2015-10-26 18:00:00
3       2015-10-26 19:00:00
4       2015-10-26 20:00:00
                ...
19834   2019-10-29 05:00:00
19835   2019-10-29 06:00:00
19836   2019-10-29 07:00:00
19837   2019-10-29 08:00:00
19838   2019-10-29 09:00:00
Name: DATE, Length: 19839, dtype: datetime64[ns]

In [11]:
DF_SBJ_filter = DF_SBJ.iloc[:,2:8].set_index("DATE") #creamos un nuevo DF con valores filtrados
DF_SBJ_filter

,TEMPERATURA MEDIA (°C),HUMEDAD RELATIVA (%),PRECIPITACION (mm),VELOCIDAD_VIENTO (m/s),DIRECCIÓN_VIENTO (°)
DATE,,,,,
2015-10-26 16:00:00,19.5,83.1,0.0,NaN,185.0
2015-10-26 17:00:00,19.2,84.0,0.0,NaN,174.0
2015-10-26 18:00:00,19.1,84.8,0.0,NaN,167.0
2015-10-26 19:00:00,18.7,87.4,0.0,NaN,168.0
2015-10-26 20:00:00,18.8,85.7,0.0,NaN,163.0
...,...,...,...,...,...
2019-10-29 05:00:00,NaN,NaN,0.0,0.5,177.0
2019-10-29 06:00:00,NaN,NaN,0.0,0.9,260.0
2019-10-29 07:00:00,NaN,NaN,0.0,0.5,266.0
2019-10-29 08:00:00,NaN,NaN,0.0,0.6,258.0
2019-10-29 09:00:00,NaN,NaN,0.0,1.0,279.0

In [12]:
DF_SBJ_filter.dtypes #vemos los tipos de objeto del nuevo DF, deberían ser float

TEMPERATURA MEDIA (°C)    float64
HUMEDAD RELATIVA (%)      float64
PRECIPITACION (mm)        float64
VELOCIDAD_VIENTO (m/s)    float64
DIRECCIÓN_VIENTO (°)      float64
dtype: object

In [13]:
#creamos un range time acorde al DF
DF_range_time = pd.date_range("2015-01-01", periods=60, freq="1M")
DF_range_time

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31',
               '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
               '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
               '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31',
               '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
               '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
               '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
               '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

In [14]:
#rellenamos el DF con fechas faltantes y sus respectivos valores nulos (NAN) - DESDE UN RANGO DEFINIDO CON MI Y MAX (2015-2019)

ultima_fecha = max(DF_range_time)
ultimo_dia_mes = calendar.monthrange(ultima_fecha.year, ultima_fecha.month)[1]
inicio = min(DF_range_time).replace(day=1, hour=0, minute=0, second=0)
fin = ultima_fecha.replace(day=ultimo_dia_mes, hour=23, minute=0, second=0)

index = pd.date_range(start=inicio, end=fin, freq="1h")

In [15]:
#observamos y guardamos el nuevo data frame llenado con valores nulos
DF_SBJ_fill = DF_SBJ_filter.reindex(index)
DF_SBJ_fill

,TEMPERATURA MEDIA (°C),HUMEDAD RELATIVA (%),PRECIPITACION (mm),VELOCIDAD_VIENTO (m/s),DIRECCIÓN_VIENTO (°)
2015-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN
2015-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN
2015-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN
2015-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN
2015-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2019-12-31 19:00:00,NaN,NaN,NaN,NaN,NaN
2019-12-31 20:00:00,NaN,NaN,NaN,NaN,NaN
2019-12-31 21:00:00,NaN,NaN,NaN,NaN,NaN
2019-12-31 22:00:00,NaN,NaN,NaN,NaN,NaN
2019-12-31 23:00:00,NaN,NaN,NaN,NaN,NaN